body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(22, 20, 24);
  color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  margin-top: 0;
  margin-bottom: 1rem
}
a {
  color:#007bff;
  text-decoration: none;
  background-color: transparent
}
button,
input{
  margin:0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

h1{
  font-size: 2000%;
}
hr {
  margin-bottom: 3%;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1)
}
.container {
  width: 90%;
  padding-right: 2%;
  padding-left: 2%;
  margin-right: auto;
  margin-left: auto
}



.bg{
  position: fixed;
  top: 50%;
  left: 48%;
  z-index: -1;
  transform: translate(-50%, -50%);
  h1{
    font-size: 2000%;
    filter: opacity(0.5);
    user-select: none;
  }
}

.un_authenticated{
  margin: 0 0 0 30%;
}

.tasks_text{
  color: white;
  font-size: 100px;
  margin: 0 0 0 40%;
}