table {
   border: 1px solid grey;
   width: 1110px;
}

th {
   border: 1px solid grey;
   width: 185px;
   color: green;
}

td {
   border: 1px solid grey;
   color: red;
   background-color: #42445A;
}