body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(22, 20, 24);
  color: #eee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

*,
::before {
  box-sizing: border-box
}
p {
  margin-top: 0;
  margin-bottom: 1rem
}
a {
  color:#007bff;
  text-decoration: none;
  background-color: transparent
}
button,
input{
  margin:0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit
}

h1,
h2{
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
  margin-top: 0;
  margin-bottom: .5rem;
}
h1 {
  font-size: 2.5rem
}
h2 {
  font-size: 2rem
}
hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0,0,0,.1)
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

.Task{
  float: left;
  width: 33%;
  user-select: none;
  max-width: 300px;
  margin: 5px 5px 50px 50px;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .7rem;
  backdrop-filter: blur(7px);
  overflow: hidden;
  hr{
    width: 100%;
    border: none;
    border-bottom: 1px solid #88888855;
    margin-top: 0;
  }
  .main{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    .taskImage{
      border-radius: .5rem;
      max-width: 100%;
      height: 250px;
      object-fit: cover;
    }
    .taskInfo{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .balls{
        display: flex;
        align-items: center;
        color: #ee83e5;
        font-weight: 700;
      }
      .is_finish{
        display: flex;
        align-items: center;
        color: #a89ec9;
        margin-right: .2rem;
      }
    }
    .creator{
      display: flex;
      align-items: center;
      margin-top: .2rem;
      margin-bottom: -.3rem;
      ins{
        color: #521ffd;
        text-decoration: none;
      }
      .wrapper{
        display: flex;
        align-items: center;
        border: 1px solid #ffffff22;
        padding: .3rem;
        margin: 0;
        margin-right: .5rem;
        border-radius: 100%;
        box-shadow: inset 0 0 0 4px #000000aa;
      }
    }
  }
}

.bg{
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: -1;
  transform: translate(-50%, -50%);
  h1{
    font-size: 20rem;
    filter: opacity(0.5);
    user-select: none;
  }
}

.un_authenticated{
  margin: 0px 0px 0px 300px;
}

.tasks_text{
  margin: 0px 0px 0px 500px;
}

.name_of_command{
  position: flex;
  left: 0px;
}

.rating{
  position: absolute;
  left: 150px;
}

.tasks{
  position: absolute;
  left: 260px;
}

.input_flag{
  width: 350px;
  position: absolute;
  left: 980px;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: #858a93;
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .6rem;
  backdrop-filter: blur(7px);
  height: 35px;
}

.button_try{
  line-height: 0px;
  vertical-align: text-top;
  width: 50px;
  height: 25px;
  position: absolute;
  left: 1350px;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: #858a93;
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .8rem;
  font-size: 17px;
}

.CTF{
  position: absolute;
  left: 1470px;
}

.menu{
  z-index: 1;
  position: relative;
  height: 5%;
  background: #373535;
}



/*! Tasks_settings */
.Task_open{
  user-select: none;
  width: 1000px;
  height: 500px;
  margin: 30px 50px 0px 50px;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .7rem;
  backdrop-filter: blur(7px);
  overflow: hidden;
  .info{
    display: flex;
    width: 100%;
    padding: 1rem;
    .taskImage{
      border-radius: .5rem;
      width: 150px;
      height: 150px;
      object-fit: cover;
    }
    .taskname{
      display: flex;
      position: absolute;
      left: 190px;
      top: 10px;
      color: gray;
      font-size: 40px;
      width: 1000px;
    }
    .creator{
      position: absolute;
      left: 190px;
      top: 70px;
      display: flex;
      align-items: center;
      color: cyan;
      font-size: 25px;
      width: 500px;
      }
    .taskInfo{
      justify-content: space-between;
      align-items: center;
      .balls{
        position: absolute;
        left: 190px;
        top: 140px;
        align-items: center;
        color: #ee83e5;
        font-weight: 700;
      }
      .is_finish{
        position: absolute;
        left: 300px;
        top: 140px;
        align-items: center;
        color: #a89ec9;
        margin-right: .2rem;
      }
    }
  }
  .button_download{
    width: 200px;
    position: absolute;
    left: 760px;
    top: 450px;
    border: 1px solid #ffffff22;
    background-color: #282c34;
    background: #858a93;
    box-shadow: 0 7px 20px 5px #00000088;
    border-radius: .7rem;
    backdrop-filter: blur(7px);
  }
  .text{
    p{
      margin: 0px -5px 15px 10px;
      max-width: 100%;
    }
  }
}