.Task{
  float: left;
  width: 33%;
  user-select: none;
  max-width: 20%;
  margin: 0% 2% 5% 2%;
  border: 1px solid #ffffff22;
  background-color: #282c34;
  background: linear-gradient(0deg, rgba(40,44,52,1) 0%, rgba(17,0,32,.5) 100%);
  box-shadow: 0 7px 20px 5px #00000088;
  border-radius: .7rem;
  backdrop-filter: blur(7px);
  overflow: hidden;
}
hr{
  width: 100%;
  border: none;
  border-bottom: 1px solid #88888855;
  margin-top: 0;
}
.main{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}
.taskImage{
  border-radius: .5rem;
  width: 320px;
  height: 320px;
  object-fit: cover;
}    
.taskInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.balls{
  display: flex;
  align-items: center;
  color: #ee83e5;
  font-weight: 700;
}
.is_finish{
  display: flex;
  align-items: center;
  color: #a89ec9;
  margin-right: 10%;
}
.creator{
  display: flex;
  align-items: center;
}
ins{
  color: #521ffd;
  text-decoration: none;
}
.wrapper{
  display: flex;
  align-items: center;
  border: 1px solid #ffffff22;
  margin: 0;
  border-radius: 100%;
  box-shadow: inset 0 0 0 4px #000000aa;
}
.Task:hover{
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 50px 10px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.3);
}
::before{
  filter: brightness(.5);
  top: -100%;
  left: 200%;
}
.type_of_task{
  font-size: 20px;
  color: gray;
  margin: 4% 0 -5% 0;
}